{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jest/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "jest"
    ],
    "settings": {
        "react": {
            "pragma": "React",
            "version": "16.4.1"
        }
    },
    "rules": {
        "comma-dangle": [
            "error",
            "always-multiline"
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "key-spacing": [
            "error",
            {
                "beforeColon": false,
                "afterColon": true,
                "mode": "strict"
            }
        ],
        "keyword-spacing": [
            "error"
        ],
        "no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_"
            }
        ],
        "no-trailing-spaces": [
            "error"
        ],
        "no-var": [
            "error"
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "prefer-const": [
            "error"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "jsx-quotes": [
            "error",
            "prefer-double"
        ],
        "react/jsx-closing-bracket-location": 1,
        "react/jsx-curly-brace-presence": [
            1,
            {
                "props": "never",
                "children": "never"
            }
        ],
        "react/jsx-first-prop-new-line": [
            "error",
            "multiline"
        ],
        "react/jsx-max-props-per-line": [
            1,
            {
                "maximum": 1
            }
        ],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/prop-types": 0,
        "semi": [
            "error",
            "never"
        ],
        "space-before-blocks": [
            "error"
        ],
        "template-curly-spacing": [
            "error",
            "never"
        ]
    }
}
